.link
  &:link,
  &:visited,
  &:active
    text-decoration none
  &:hover
    text-decoration underline

.font-ch
  font-family: 'Microsoft JhengHei', 'PT Sans', Helvetica, Arial, sans-serif !important

.break-word
  word-wrap break-word

.d-none
  display none