.link
  &:link,
  &:visited,
  &:active
    text-decoration none
  &:hover
    text-decoration underline

.font-ch
  font-family: 'Microsoft JhengHei', 'PT Sans', Helvetica, Arial, sans-serif !important

.break-word
  word-wrap break-word

.d-none
  display none

.page-enter-active, 
.page-leave-active {
  transition opacity .3s
}
.page-enter, 
.page-leave-to {
  opacity 0
}
.page-enter-to, 
.page-leave {
  opacity 1
}

.layout-enter-active, .layout-leave-active {
  transition opacity .2s
}
.layout-enter, .layout-leave-active {
  opacity 0
  background-color #000
}